.App {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
  
}
.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.drum-pad {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
  box-shadow: 3px 3px 5px 0 rgba(211, 47, 47, 0.5);
}
#display {
  height: 10vh;
  text-align: center;
  font-size: larger;
}